<div class="container">
    <h1 class="text-center">{{title}}</h1>
</div>

<!--app-new-component></app-new-component>
<app-new-component-inline></app-new-component-inline>
<app-interpolation></app-interpolation>
<app-product-list-component class="text-center"></app-product-list-component>
<app-event-binding></app-event-binding>
<app-property-binding></app-property-binding>
<app-two-way-binding></app-two-way-binding>
<app-calculator></app-calculator>
<app-conditionals></app-conditionals>
<app-local-reference></app-local-reference>
<app-for-list-tasks></app-for-list-tasks
<app-online-shop></app-online-shop>
<app-father></app-father>
<app-view-child></app-view-child>
<p>{{message}}</p>
<app-users-list></app-users-list>
<app-pipes-example></app-pipes-example>

heavys
<app-online-shop></app-online-shop>
-->

<app-budget-app></app-budget-app>